service cloud.firestore {
  match /databases/{database}/documents {
    function isUserAuthenticated(uid) {
      return request.auth.uid == uid;
    }
    match /users/{uid} {
      allow read, write: if isUserAuthenticated(uid);
      match /words/{wordId} {
        allow read, write: if isUserAuthenticated(uid);
      }
    }
  }
}
